/* Sửa */
.tablo {
  width: 100%;
  height: 400px;

  background-image: linear-gradient(
      120deg,
      rgba(184, 191, 194, 0.8),
      rgba(205, 245, 237, 0.8)
    ),
    url("../images/bg_1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

label:hover {
  opacity: 0.8;
}
input[type="file"] {
  display: none;
}
/* .logout-input {
  width: 100%;
  border: #ffffff;
} */

/* phan hiển thi việc làm và cv nổi bật */
.iijob-company {
  background-color: rgba(229, 229, 229, 0.455);
}
.bg-white {
  background-color: white;
}

/* .navMyStyle {
  background: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5));
  background-image: url("../images/bg_1.jpg");
} */
